$primary: #6d6afe;
$red: #ff5b56;
$black: #111322;
$white: #ffffff;
$gray05: #f0f6ff;
$gray04: #e7effb;
$gray03: #ccd5e3;
$gray02: #9fa6b2;
$gray01: #3e3e43;
$blue: #6fbaff;
$skyblue: #6ae3fe;
$pink: #ff9f9f;
$yellow: #ffd88b;
