.title-bar {
  padding: 60px 320px 90px;
  background: $gray05;
}

.link-add-bar {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: 800px;
  height: 70px;
  padding: 16px 20px;
  background: $white;
  border: 1px solid $primary;
  border-radius: 15px;

  input {
    width: 100%;
    padding-left: 35px;
    font-size: 1.6rem;
    background: url('../../../../public/images/link.svg') left center no-repeat;

    &::placeholder {
      color: $gray02;
    }
  }

  button {
    width: 80px;
    border-radius: 8px;
    padding: 16px 10px;
    font-size: 1.4rem;
  }
}
